@import './base.css';

:root{
  --century: "century Gothic", sans-serif;
  --color: rgb(23, 101, 125);
}
body { 
  overflow: hidden;
}

.niveau{
  margin-bottom: -10px !important; 
  margin-top: -10px !important
}
.Photo{
  margin-top: 5px !important
}
/* btn-next */
.btn-start{
  background: none;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: var(--color)
}
.back-btn{
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--color);
  border-left: 2px solid var(--color);
  transform: rotate(-45deg);
}
.btn-end{
  background: var(--color);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white
}
.next-btn{
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}
/* form */
.form-div-1 input:focus,
.form-div-2 input:focus{
  border: 2px solid var(--color);
  box-shadow: none !important
}
.form-div-1 label,
.form-div-2 label{
  margin: 10px 0 2px 0;
  color: gray;
}
.bloc-profile{
  margin: 0 !important
}
.rond{
  border-radius: 20.5px;
  box-shadow: 0 0 15px gray !important
}
.century{
  font-family: var(--century);
}
.lien-1{
  height: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 30px;
  padding-left: 12%;
}
.lien-2{
  height: 100%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 8%;
}
.lien-3{
  height: 100%;
  border-top-right-radius: 20px;
  padding-left: 3%;
}
.ul-link{
  background: rgba(196, 222, 222, 0.5) !important;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.badge{
  background: white !important;
  color: gray!important;
  font-weight: bolder !important;
}
/* bloc profile */
.div-container{
  padding:0 !important;
  border: 2px solid gray;
  border-radius: 20.5px;
}

.pr-Link{
  list-style: none;
  width: 100%;
  height: 55px;
  justify-content: center;
  align-self: center;
  padding-top: 15px;
  cursor: pointer;
  color: gray
}
li.active{
  background: linear-gradient(to left, #048b9a, #318ce7);
  color: white;
}
.bdg-t{
  font-weight: bolder;
  bottom: -5px;
  letter-spacing: .4px
}
.Head p{
  color: gray;
}
@media (max-width: 1024px) {
  body {
    overflow: auto !important;
    height: 100vh;
    background-size: cover !important;
  }
} 
